<!DOCTYPE html>
<html>

<head>
    <title>Calculator</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="bg-gray-100 antialiased text-gray-900">
    <div class="px-4 my-32 max-w-3xl mx-auto space-y-6 ">
        <h1 class="text-3xl font-semibold">Calculate salary percentage</h1>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-6">
            <div class="sm:col-span-3">
                <ul>
                    <li>- 30 and older &rarr; &euro;46,660 in 2025</li>
                    <li>- Younger than 30 &rarr; &euro;35,468 in 2025</li>
                    <li>- Includes 16.3% vakantiegeld + extras</li>
                    <li>- Excluding 8.1% pension</li>
                </ul>
            </div>
            <div class="sm:col-span-3">
                <form method="post">
                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
                        <div class="sm:col-span-3">
                            <p>Monthly bruto salary</p>
                            <input class="form-input" type="number" name="salary" step="1" min="0" placeholder="€4000" required>
                        </div>
                        <div class="sm:col-span-3">
                            <p>Age</p>
                            <input class="form-input" type="number" name="age" step="1" min="1" max="100" placeholder="30" required>
                        </div>
                        <div class="sm:col-span-3">
                            <button type="submit" class="form-button">
                                Calculate
                            </button>
                            {% if result is not none %}
                            <p>Estimated result: {{ result }}%</p>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
            <div class="sm:col-span-6">
                <img src="/static/images/salaryplot.png" alt="monthly salary">
        </div>
        </div>
    </div>
</body>

</html>