<!DOCTYPE html>
<html>

<head>
    <title>Completed Report</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="bg-gray-100 antialiased text-gray-900">
    <form method="POST" enctype="multipart/form-data" class="px-4 my-32 max-w-lg mx-auto space-y-6">
        {{ form.hidden_tag() }}
        <h1 class="text-3xl font-semibold">Upload PDF files</h1>
        <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 sm:col-span-2" role="alert">
            <h2 class="font-bold">Privacy</h2>
            <div>
                The data and files are not stored due to privacy. This means that you will lose all the data if you
                leave the webpage.
            </div>
        </div>
        <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 sm:col-span-2" role="alert">
            <h2 class="font-bold">Checks</h2>
            <div>
                Please check all the data carefully on the next page.
            </div>
        </div>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
            <div id="sofie_file" class="sm:col-span-2">
                <div>{{ form.sofie_file.label }}* optional if error</div>
                <div>{{ form.sofie_file }}</div>
            </div>
            <div id="topdesk_file" class="sm:col-span-2">
                <div>{{ form.topdesk_file.label }}</div>
                <div>{{ form.topdesk_file }}</div>
            </div>
        </div>
        <button type="submit" class="form-button">
            Upload
        </button>
    </form>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>